name: Build and test

on:
  push:
  pull_request:
    branches: [main]
  workflow_dispatch:

jobs:
  build-and-test-osx:
    runs-on: macos-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    steps:
      - uses: actions/checkout@v3
        with: 
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: ci/build-and-test.sh
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        env:
          CASE_BROKER_CI_TOKEN: ${{ secrets.PACTFLOW_TOKEN }}
          CASE_BROKER_BASEURL: https://timothyjones.pactflow.io/
          NODE_VERSION: ${{ matrix.node-version }}
          FORCE_COLOR: true
      - run: ci/build-and-test.sh
        if: github.ref != 'refs/heads/main' || github.event_name == 'pull_request'
        env:
          CASE_publish: false
          NODE_VERSION: ${{ matrix.node-version }}
          FORCE_COLOR: true

  build-and-test-ubuntu:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    steps:
      - uses: actions/checkout@v3
        with: 
          fetch-depth: 0      
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3
        with:
          node-version: ${{ matrix.node-version }}
      - run: ci/build-and-test.sh
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        env:
          CASE_BROKER_CI_TOKEN: ${{ secrets.PACTFLOW_TOKEN }}
          CASE_BROKER_BASEURL: https://timothyjones.pactflow.io/
          NODE_VERSION: ${{ matrix.node-version }}
          FORCE_COLOR: true
      - run: ci/build-and-test.sh
        if: github.ref != 'refs/heads/main' || github.event_name == 'pull_request'
        env:
          CASE_publish: false
          NODE_VERSION: ${{ matrix.node-version }}
          FORCE_COLOR: true

  build-and-test-windows:
    runs-on: windows-latest
    strategy:
      matrix:
        node-version: [16.x, 18.x, 20.x]
    steps:
      - uses: actions/checkout@v3
        with: 
          fetch-depth: 0
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v3 
        with:
          node-version: ${{ matrix.node-version }}
      - run: bash ci/build-and-test.sh
        if: github.ref == 'refs/heads/main' && github.event_name != 'pull_request'
        shell: bash
        env:
          CASE_BROKER_CI_TOKEN: ${{ secrets.PACTFLOW_TOKEN }}
          CASE_BROKER_BASEURL: https://timothyjones.pactflow.io/ 
          NODE_VERSION: ${{ matrix.node-version }}
          FORCE_COLOR: true
      - run: bash ci/build-and-test.sh
        if: github.ref != 'refs/heads/main' || github.event_name == 'pull_request'
        shell: bash
        env:
          CASE_publish: false
          NODE_VERSION: ${{ matrix.node-version }}
          FORCE_COLOR: true
